<ul class="button-group">
  <li><a data-nav="mousedown" href="news" class="button secondary all">All</a></li>
  <li><a data-nav="mousedown" href="news?color=blue" class="button secondary blue">Blues</a></li>
  <li><a data-nav="mousedown" href="news?color=green" class="button secondary green">Greens</a></li>
</ul>