

body {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

h1, h2, h3, h4 {
  font-family: "OpenSans", "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
  font-weight: normal;
  margin-bottom: 14px;
  margin-top: 14px;
}

h1 {
  font-size: 44px;
}

ul {
  list-style: none;
}

.template {
  display: none;
}

nav.top-bar {
  margin-bottom: 0;
}
nav.top-bar ul {
  line-height: 45px;
}
nav.top-bar li {
  float: left;
}
nav.top-bar li a {
  padding: 0 15px;
  font-weight: bold;
  color: white;
}
nav.top-bar a {
  margin-left: 12px;
  font-weight: bold;
  color: white;
}

header {
  background-color: #2ba6cb;
  padding: 12px 0;
  height: 130px;

  transition: opacity 0.3s;
}

header.red {
  background-color: #eb5b4d;
}

header h1 {
  color: white;
  font-weight: 500;
  margin-top: 0;
}
header h4 {
  color: white;
  font-weight: 300;
}

#header-controls .button.secondary {
  margin-bottom: 0;
}

img {
  border: 2px solid #111;
  min-width: 200px;
  min-height: 200px;
}

section {
  position: absolute;
  top: 175px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
}

#main-content {
  margin-top: 20px;
}

#side-panel {
  position: absolute;
  width: 80%;
  top: 45px;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAYAAAD5PA/NAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABdJREFUeNpiZGBgYAZidiDmBGJLgAADAADuAE4RYmENAAAAAElFTkSuQmCC");
  background-position: left top;
  background-repeat: repeat-y;

  opacity: 0;
  visibility: hidden;
}

#side-panel > div {
  background: #F0F0F0;
  position: absolute;
  left: 4px;
  right: 0;
  height: 100%;
  padding: 8px;
}

.news-entry a:hover div {
  background: #d5d5d5;
}

.news-entry a > div {
  padding: 8px;
  background: #e9e9e9;
  margin-bottom: 8px;
}

.news-entry .color {
  width: 28px;
  height: 28px;
  margin-top: 12px;
  margin-right: 12px;
  float: left;
}
.news-entry .color.blue {
  background-color: #2ba6cb;
}
.news-entry .color.green {
  background-color: #5da423;
}

#news-item a, #news-item-edit a {
  margin-top: 15px;
  margin-left: 8px;
}

#news-item h1, #news-item-edit h1, #news-item a, #news-item-edit a {
  float: left;
  margin-bottom: 40px;
}

textarea, #news-item > div {
  width: 100%;
  height: 400px;
  clear: left;
  padding: 0.5em;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

pre {
  font-family: inherit;
  margin-left: 1px;
  margin-top: 1px;
}

#news-item.loading, #news-item-edit.loading {
  opacity: 0;
}

/* Modal confirm */

#confirm-dialog {
  width: 400px;
  margin-left: -200px;
  text-align: center;
}

#confirm-dialog img {
  border: none;
}

#confirm-dialog button:first-of-type {
  margin-right: 14px;
}

.button {
  transition: none;
}

.button.secondary {
  border-color: #666;
}
.button.secondary:hover {
  background-color: #DADADA;
}

.button.selected {
  background-color: #CACACA;
}
.button.selected:hover {
  background-color: #CACACA;
}


@-webkit-keyframes fadeIn {
    0% {opacity: 0; -webkit-animation-timing-function: ease-in;}
    100% {opacity: 1;}
}
@-moz-keyframes fadeIn {
    0% {opacity: 0; -moz-animation-timing-function: ease-in;}
    100% {opacity: 1;}
}
@keyframes fadeIn {
    0% {opacity: 0; animation-timing-function: ease-in;}
    100% {opacity: 1;}
}

.fade-in-animation {
    -webkit-animation-name: fadeIn;
       -moz-animation-name: fadeIn;
            animation-name: fadeIn;

    -webkit-animation-duration: 0.8s;
       -moz-animation-duration: 0.8s;
            animation-duration: 0.8s;
}