@()

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Abyssa example</title>

        <link rel="stylesheet" media="screen" href="/assets/stylesheets/foundation.css">
        <link rel="stylesheet" media="screen" href="/assets/stylesheets/main.css">
    </head>

    <body>
      <nav class="top-bar">
        <a href="/">Abyssa</a>
        <ul class="right">
          <li><a href="news">News</a></li>
          <li><a href="gallery">Gallery</a></li>
        </ul>
      </nav>

      <header>
        <div class="row">
          <h1></h1>
          <div id="header-controls"></div>
        </div>
      </header>

      <section>
        <div id="main-content" class="row"></div>
      </section>

      <div id="side-panel">
        <div id="side-panel-content"></div>
      </div>

    </body>

    <!--[if lt IE 10]>
      <script src="/assets/javascripts/lib/es5-shim.js"></script>
      <script src="/assets/javascripts/lib/history.js"></script>
    <![endif]-->

    <script src="/assets/javascripts/lib/jquery.js"></script>
    <script src="/assets/javascripts/app.js"></script>

    @if(play.api.Play.isDev(play.api.Play.current)) {
      <script src="//localhost:35729/livereload.js"></script>
    }

</html>