@()

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Abyssa example</title>

        <link rel="stylesheet" media="screen" href="/assets/stylesheets/foundation.css">
        <link rel="stylesheet" media="screen" href="/assets/stylesheets/main.css">
    </head>

    <body>
      <nav class="top-bar">
        <a href="">Abyssa</a>
        <ul class="right">
          <li><a href="news">News</a></li>
          <li><a href="gallery">Gallery</a></li>
        </ul>
      </nav>

      <header style="opacity: 0">
        <div class="row">
          <h1></h1>
          <div id="header-controls"></div>
        </div>
      </header>

      <section>
        <div id="main-content" class="row"></div>
      </section>

      <div id="side-panel">
        <div id="side-panel-content"></div>
      </div>

      <div id="confirm-dialog" class="reveal-modal" data-reveal>
        <h2></h2>
        <p class="lead"><img src="/assets/images/meme.png"></img></p>
        <button class="small confirm-yes">YES</button>
        <button class="small confirm-no">NO</button>
      </div>

    </body>

    <script id="gallery-template" type="text/template">
      <div class="fade-in-animation">
        <img src="http://lorempixel.com/300/200"/>
        <img src="http://lorempixel.com/200/200"/>
        <img src="http://lorempixel.com/305/200"/>
      </div>
    </script>

    <script id="news-controls-template" type="text/template">
      <ul class="button-group">
        <li><a href="news" class="button secondary all">All</a></li>
        <li><a href="news?color=blue" class="button secondary blue">Blues</a></li>
        <li><a href="news?color=green" class="button secondary green">Greens</a></li>
      </ul>
    </script>

    <script id="news-template" type="text/template">
      <ul>
        {{#each this}}
        <li class="news-entry">
          <a {{link 'news.item.show' id=id}}>
            <div>
              <div class="color {{ color }}"></div>
              <h4>{{ title }}</h4>
            </div>
          </a>
        </li>
        {{/each}}
      </ul>
    </script>

    <script id="news-item-template" type="text/template">
      <div id="news-item">
        <h1>{{ title }}</h1>
        <a class="button secondary" {{link 'news.item.edit' id=id}}>Edit</a>
        <div><pre>{{ body }}</pre></div>
      </div>
    </script>

    <script id="news-item-edit-template" type="text/template">
      <div id="news-item-edit">
        <h1>{{ title }}</h1>
        <a class="button secondary" {{link 'news.item.show' id=id}}>Show</a>
        <textarea>{{ body }}</textarea>
      </div>
    </script>

    <script src="/assets/javascripts/lib/jquery.js"></script>
    <script src="/assets/javascripts/lib/foundation.js"></script>
    <script src="/assets/javascripts/lib/foundation.reveal.js"></script>
    <script src="/assets/javascripts/app.js"></script>

</html>